<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252528933711-k65ftvfr4jkv9vcgqdqgdtgee91e948h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252528933711-k65ftvfr4jkv9vcgqdqgdtgee91e948h</string>
	<key>API_KEY</key>
	<string>AIzaSyANCRgBmuZfyjsotB2k8eeuQLHGZTzPQSw</string>
	<key>GCM_SENDER_ID</key>
	<string>252528933711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fahimrahman.Fire-ToDo</string>
	<key>PROJECT_ID</key>
	<string>fire-todo-c12ff</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-todo-c12ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252528933711:ios:33a414f7b82b9ec1f2a33a</string>
</dict>
</plist>